@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>DontFret are complient with the Data Protection Act and your customer data is kept safe and secure.</p>
<p>We do not store your banking information.</p>
<p>If you wish to request your data or delete your account, please contact us.</p>
<p>Thank you for choosing DontFret!</p>